.visit-card {
  position: relative;
  padding: 20px;
  width: 431px;
  height: 130px;

  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 5px #ebe7ff;
  border-radius: 5px;
}

.visit-card:hover {
  width: 431px;
  height: 130px;
  box-shadow: none;
  border: 2px solid #ebe7ff;
}

.visit-card__wrapper {
  max-width: 280px;
}

.visit-card__date {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.visit-card__clinic {
  margin-top: 6px;
  font-weight: 300;
  line-height: 20px;
}

.visit-card__doctor {
  margin-top: 9px;
}

.doctor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.doctor__name {
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 17px;
}

.doctor__department {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ebe7ff;
}

.doctor__info {
  margin-left: 10px;
}

.visit-card__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
