.btn {
  padding: 12px 15px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #7761ff;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}
