.menu-item {
  padding: 14px 20px 14px 18px;
  border-left: 2px solid transparent;
}

.menu__item {
  margin-bottom: 10px;
}

.menu-item__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-item__icon {
  width: 18px;
  height: 18px;
}

.menu-item svg {
  fill: #ffffff;
}

.menu-item__text {
  margin-left: 14px;
}

.menu-item:active,
.menu-item--active {
  background-color: #fff;
  color: #7761ff;
  border-left: 2px solid #7761ff;
}

.menu-item:active svg,
.menu-item--active svg {
  fill: #7761ff;
}
