.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 190px;
  background-color: #003b72;
  color: #ffffff;
  line-height: 17px;
}

.sidebar__logo {
  padding: 19px 20px;
  max-height: 55px;
}

.sidebar__btn {
  display: flex;
  justify-content: flex-start;
  margin-left: 19px;
  margin-right: 20px;
}

.sidebar__btn > .btn {
  width: 150px;
}

.sidebar__developer-logo {
  margin: 4px auto 16px 20px;
}
