.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  background-color: #003b72;
  color: #ffffff;
  line-height: 17px;
}

.sidebar__logo {
  padding: 19px 20px;
  max-height: 55px;
}
