.appointments__main {
  padding-top: 16px;
  padding-left: 18px;
}

.appointments__back {
  margin-left: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.appointments__section-title {
  margin-left: 14px;
  line-height: 18px;
}

.appointments__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.my-appointments__wrapper {
  margin-top: 9px;
}

.my-appointments__content {
  padding: 2px 0 2px 2px;
  display: flex;
  flex-direction: column;
  width: 503px;
  height: 646px;
  overflow: scroll;
  scrollbar-color: #003b72 #ebe7ff;
  scrollbar-width: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  background-color: #ebe7ff;
  border-radius: 5px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #003b72;
  border-radius: 5px;
}

.my-appointments__content > .visit-card {
  margin-bottom: 15px;
}

.my-appointments__item:last-of-type {
  margin-bottom: 0px;
}

.appointments__calendar {
  margin-top: 10px;
  margin-left: 40px;
}
