.app {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  background-color: #e5e5e5;
  color: #000000;
  height: 100vh;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
