@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.app {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  background-color: #fcfcfc;
  color: #000000;
  height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
